header img {
  padding-bottom: 2em;
  width: 100%;
  height: 5em;
  object-fit: contain;
}

#Contenitore_testo_principale {
  text-align: center;
  line-height: normal;
  background-color: #ffe4c442;
  margin-top: 0em;
  border-top: 2px solid rgba(184, 184, 31, 0.699);
  margin-bottom: 4rem;
}

span {
  font-size: 1.3em;
  color: rgb(24, 112, 146);
  border-top: #ffe4c442;
  margin-top: 0em;
}

#titolo_ricetta {
  text-align: center;
  line-height: normal;
}

main {
  width: 100%;
  align-items: auto;
}

#blocco-descrittivo {
  width: 50%;
  margin: auto;
  text-align: left;
}

h1 {
  text-align: center;
  font-size: 2em;
}

.focaccia {
  width: 100%;
  height: auto;
}

.photo-name {
  text-align: center;
  color: gray;
  margin-bottom: 2em;
}
.features {
  border-left: 2px solid #a7a744;
  padding-left: 20px;
  margin-bottom: 2em;
}

.feature1 {
  margin-bottom: 0em;
  margin-top: 0em;
}

.feature2 {
  margin-bottom: 0em;
  margin-top: 0em;
}
